.body
{
    margin: 0;
}

.page
{
    max-width: 1000px;
    margin: 0 auto;
}
.quote-box__photo
{
    background-image: url(../images/Jane.png);
    background-size: 100%;
    width: 330px;
    height: 350px;
    float: left;
    margin: 100px 0 45px 0; 
}

.quote-box__quote
{
    float: right;
    background-image: url(../images/quotes.png);
    background-repeat: no-repeat;
    margin: 150px 101px 0 0;
}

.quote-box__text
{
    font-size: 28px;
    line-height: 42px;
    color: #848484;
    font-style: italic;
    font-family: "Georgia";
    text-align: left;
    margin: 70px 6px 2px 60px;
}

.quote-box__copyright
{
    font-size: 16px;
    line-height: 42px;
    color: #333;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
    margin: 0 0 0 63px;
}

.quote-box::after 
{
    content: "";
    clear: both;
    display: block;
}

.interests
{
    float: left;
}


.interests__title
{
    font-size: 24px;
    line-height: 32px;
    color: #15a98c;
    font-weight: 600;
    font-family: "Open Sans";
    text-align: left;
}

.interests__title_writers
{
    margin: 0 0 13px 0;
}

.interests__list
{
    font-size: 19px;
    line-height: 36px;
    color: #555;
    font-family: "Georgia";
    text-align: left;   
}

.interests__list_writers
{
    margin: 0 0 42px 0;
    padding-left: 21px;
}

.interests__list-line__trumen
{
    margin-left: -2px;  
}

.interests__title_films
{
    margin: 0 0 11px 0;  
}

.interests__list_films
{
    margin: 0;
    padding-left: 20px;
}

.main-text
{
    float: right;
}

.main-text__name
{
    font-size: 48px;
    line-height: 42px;
    color: #333;
    font-weight: 700;
    font-family: "Open Sans";
    text-align: left;
    margin: 0 0 32px 6px;
}

.main-text__stripe
{
    background-color: #45c3aa;
    width: 60px;
    height: 6px;
    border-radius: 3px;  
    margin: 0 0 43px 2px;
    display: block;
}

.main-text__text
{
    font-size: 19px;
    font-family: "Georgia";
    color: #555;
    line-height: 32px;
    text-align: left;
}
.main-text__text_paragraph
{
    margin: 0 0 42px 2px;
}

.main-text__title-hobby
{
    font-size: 36px;
    line-height: 42px;
    color: #333;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: left;
    margin: 0 422px 16px 0;
}

.main-text__text_hobby
{
    margin: 0 0 41px 2px;
}

.main-text__text_link-box
{
    color: #15a98b;
    text-decoration: none;
}
.main-text__link
{
    text-decoration: underline;
    margin: 0 0 0 2px;
}

.main-text__arrow
{
    text-decoration: none;
}

.clear
{
    clear: both;
}